#flags {
    background-color: red;
    width: 800px;
    height: 1000px;
}

#flags div {
    background-color: white;
    width: 200px;
    height: 400px;
    margin: 10px;
    position: relative;
}

#flags div:nth-child(1) {
    top: 100px;
    left: 300px;
}

#flags div:nth-child(2) {
    top: -100px;
    left: 120px;
    transform: rotate(90deg);
}

#flags div:nth-child(3) {
    top: -512px;
    left: 450px;
    transform: rotate(90deg);
}

#flags div:nth-child(4) {
    top: -700px;
    left: 300px;
    transform:translateX(90deg);
}